body {
    font-family: 'Lato', sans-serif;
    background-color: #eee;
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 12px 18px;
    font-size: 13px;
    display: sticky;
    top: 0;
}

#header #header-img {
    width: 230px;
}

#header #nav-bar {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}

#form {
    margin: 0 auto;
    text-align: center;
}

#form h2 {
    font-size: 20px;
}

#form input[type="email"] {
    font-family: inherit;
    font-size: 11px;
    width: 220px;
    padding: 2px 5px;
    margin: 5px 0;
}

#form input[type="submit"] {
    display: block;
    margin: 10px auto;
    text-transform: uppercase;
    background-color: #F1C40F;
    font-weight: 900;
    border: none;
    padding: 4px 10px;
}

#features * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#features {
    width: 60%;
    margin: 60px auto;
}

#features .icon {
    color: darkorange;
    margin: 30px 0;
}

#features .icon i {
    font-size: 36px;
}

#features .description {
    margin: 20px 0;
}

#features #premium {
    gap: 65px;
}

#features .feature-flex {
    display: flex;
    gap: 50px;
    vertical-align: middle;
    font-size: 13px;
}

/* style for the video */
#video {
    width: 500px;
    height: 281px;
    margin: 0 auto;
}

#instrument-types {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 10px;
}

.inst-container {
    border: 1px solid black;
    width: 230px;
    text-align: center;
    font-size: 14px;
    padding-bottom: 10px;
}

#instrument-types h4 {
    font-size: 12px;
    background-color: lightgray;
    margin-top: 0;
    padding: 10px 0;
}

#instrument-types .price {
    font-weight: bold;
    font-size: 16px;
}

#instrument-types button {
    background-color: #f1c40f;
    text-transform: uppercase;
    border: none;
    width: 80px;
    height: 30px;
    font-size: 14px;
}

#footer {
    background-color: lightgrey;
    width: 710px;
    margin: 0 auto;
    padding: 5px 15px;
}

#footer #privacy-terms-contact {
    display: flex;
    font-size: 14px;
    justify-content: right;
    gap: 8px;
}

#footer #copyright {
    font-size: 12px;
    text-align: right;
}